# Archivos de Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Directorios de compilación
bin/
obj/

# Archivos de build temporales
*.log
*.tlog
*.cache
*.pdb
*.mdb
*.ilk
*.ipch
*.aps
*.ncb
*.opendb
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb

# Archivos de NuGet
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets

# Archivos de paquetes
*.nupkg
*.snupkg
packages/

# Carpetas de publicación
publish/
AppPackages/
TestResults/

# Otros archivos generados
*.sourcelink.json
*.GeneratedMSBuildEditorConfig.editorconfig
*.AssemblyInfoInputs.cache
*.assets.cache

# Configuración de usuario personal
*.vscode/
*.idea/
