.vs/CitAppBot/DesignTimeBuild/.dtbcache.v2
.vs/CitAppBot/FileContentIndex/656b4481-0259-4bc2-a58b-c37184e7c57f.vsidx
.vs/CitAppBot/v17/.futdcache.v2
.vs/CitAppBot/v17/.suo
.vs/CitAppBot/v17/DocumentLayout.backup.json
.vs/CitAppBot/v17/DocumentLayout.json
.vs/ProjectEvaluation/citappbot.metadata.v9.bin
.vs/ProjectEvaluation/citappbot.projects.v9.bin
.vs/ProjectEvaluation/citappbot.strings.v9.bin
BLL/obj/Debug/net8.0/BLL.sourcelink.json
CitAppBot/obj/Debug/net8.0-windows/CitAppBot.sourcelink.json
DAL/obj/Debug/net8.0/DAL.sourcelink.json
ENTITY/obj/Debug/net8.0/ENTITY.sourcelink.json
